//------------------------------
// *****************************
// Typography
// *****************************
//------------------------------

// Base Settings
$base-font-size: 16px !default;
$base-line-height: 1.5rem !default;

/// Inter UI variables
/// @website: https://rsms.me/inter/
$font-sans: "Inter UI", sans-serif !default;

/// Inter UI variables
/// @website: https://rsms.me/inter/
$font-mono: "IBM Plex Mono", monospace !default;


//------------------------------
// *****************************
// Typography Placeholders
// *****************************
//------------------------------

/// Typography Sans
%face-sans-l {
  font-family: $font-sans;
  font-size: toRem(23px);
  letter-spacing: em(-0.32px);
  line-height: toRem(28px);
}

%face-sans-base {
  font-family: $font-sans;
  font-size: toRem(17px);
  line-height: toRem(24px);
}

%face-sans-s {
  font-family: $font-sans;
  font-size: toRem(15px);
  line-height: toRem(20px);
}

%face-sans-xs {
  font-family: $font-sans;
  font-size: toRem(13px);
  letter-spacing: em(0.32px);
  line-height: toRem(16px);
}

%face-mono-xl {
  font-family: $font-mono;
  font-size: toRem(52px);
  letter-spacing: em(-0.8px);
  line-height: toRem(48px);
}

%face-mono-base {
  font-family: $font-mono;
  font-size: toRem(17px);
  line-height: toRem(24px);
}

%face-mono-s {
  font-family: $font-mono;
  font-size: toRem(15px);
  line-height: toRem(20px);
}

%face-mono-xs {
  font-family: $font-mono;
  font-size: toRem(13px);
  letter-spacing: em(0.32px);
  line-height: toRem(16px);
}

%face-tracked-base {
  font-family: $font-mono;
  font-size: toRem(17px);
  letter-spacing: em(1.76px);
  line-height: toRem(24px);
}

%face-uppercase-base {
  font-family: $font-sans;
  font-size: toRem(13px);
  letter-spacing: em(1.6px);
  line-height: toRem(16px);
  text-transform: uppercase;
}

%face-uppercase-xs {
  font-family: $font-sans;
  font-size: toRem(11px);
  letter-spacing: em(1.6px);
  line-height: toRem(12px);
  text-transform: uppercase;
}
