.ae-button.round[data-v-d0360416], .ae-button.flat[data-v-d0360416] {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: unset;
  line-height: 1rem;
  text-transform: uppercase;
}

.ae-button.round[data-v-d0360416] {
  background: #12121b;
  border-radius: 5px;
  color: #727278;
  height: 3.5rem;
  padding: 0 1.5rem;
}

.ae-button[data-v-d0360416] {
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-flex;
  height: 32px;
  justify-content: center;
  outline: none;
  padding: 0;
  position: relative;
  text-decoration: none;
  transition: all 0.2s;
  user-select: none;
}

.ae-button[data-v-d0360416]:hover, .ae-button[data-v-d0360416]:focus {
  text-decoration: none;
}

.ae-button[data-v-d0360416]:active:not(:disabled) {
  opacity: 0.85;
}

.ae-button > i[data-v-d0360416] {
  margin: 0 0.25rem;
}


.ae-button.round[data-v-d0360416]:disabled {
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.6;
}

.ae-button.flat.primary[data-v-d0360416] {
  border-color: #67f7b8;
  color: #12121b;
}

.ae-button.color-primary[data-v-d0360416] {
  color: #67f7b8;
}

.ae-button.primary[data-v-d0360416] {
  background: #67f7b8;
  color: #12121b;
}

.ae-button.alternative[data-v-d0360416]:disabled {
  opacity: 0.6;
}

.ae-button.extend[data-v-d0360416] {
  padding: 0;
  width: 100%;
}

.ae-button-group[data-v-33c1fe42] {
  border-radius: 5px !important;
}
.ae-button-group .ae-button.round[data-v-d0360416] {
  border-radius: 0;
}

