/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/base";
 */
@import "tailwindcss/base";
/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@import "tailwindcss/components";
/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */
/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@import "tailwindcss/utilities";

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

body {
  color: #727278;
}

.max-w-desktop {
  max-width: 700px;
  width: 100%;
}

.max-w-85 {
  max-width: 85%;
}

.bg-primary {
  background-color: #67f7b8;
}

.ae-button {
  background-color: #2a9cff;
  color: #fff;
  font-family: Roboto, sans-serif !important;
  border-radius: 5px;
}

.opacity-40 {
  opacity: .4;
}

.text-primary {
  color: #2a9cff;
}

.h1 {
  font-size: 2rem;
}

.h2 {
  font-size: 1.5rem;
}

.overlay-loader {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 150px;
  background-color: #21222c;
  overflow: hidden;
}

.label {
  font-size: 13px;
  line-height: 1.23;
  color: #727278;
}

.ae-card {
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
  background-color: #21222c;
}

.text-gray-500 {
  color: #727278;
}

.border-gray-500 {
  border-color: #727278;
}

.rotate-90 {
  transform: rotate(-90deg);
}
.rotate-180 {
  transform: rotate(-180deg);
}


.border-primary {
  border-color: #2a9cff;
}

.ae-transition-300 {
  transition: 300ms;
}


.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-gray-600,
.highlited {
  color: #AEAEAE;
}

.ae-value {
  color: #fff;
}

.ae-text {
  color: #2a9cff;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Overrides */
span.ae-check-button.ae-check-button::after {
  background: none;
  left: 12px;
  top: 3px;
  width: 8px;
  height: 14px;
  border: solid #67F7B8;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

span.ae-check-button.ae-check-button::before {
  border-radius: 2px 7px 2px 7px;
  background: #12121B !important;
  border: 2px solid #12121B !important;
}

.ae-check.ae-check.ae-check > input[type="radio"]:checked + .ae-check-button:before,
.ae-check.ae-check.ae-check > input[type="radio"]:disabled + .ae-check-button:before {
  background: #12121B !important;
  border-color: #12121B !important;
}

.ae-check.ae-check.ae-check > input[type="radio"]:disabled + .ae-check-button:before {
  opacity: 0.6;
}
