/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/base";
 */
@import "tailwindcss/base";
/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@import "tailwindcss/components";
/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */
/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@import "tailwindcss/utilities";

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
 
body {
  color: #727278;
  font-family: IBM Plex Sans, Roboto, sans-serif;
  font-size: 0.9375rem;
}

.max-w-desktop {
  max-width: 43.75rem;
  width: 100%;
}

.max-w-85 {
  max-width: 85%;
}

.bg-primary {
  background-color: #67f7b8;
}

.ae-button {
  background-color: #2a9cff;
  color: #fff;
  font-family: IBM Plex Sans, Roboto, sans-serif !important;
  border-radius: 0.3125rem;
}

.opacity-40 {
  opacity: .4;
}

.text-primary {
  color: #2a9cff;
}

.h1 {
  font-size: 1.25rem;
  vertical-align: middle;
}

.h2 {
  font-size: 1.5rem;
  vertical-align: middle;
}

.overlay-loader {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 9.375rem;
  background-color: #21222c;
  overflow: hidden;
}

.label {
  font-size: 0.8125rem;
  line-height: 1.23;
  color: #727278;
}

.ae-card {
  border-radius: 0.3125rem;
  box-shadow: 0 0.0625rem 0.3125rem 0 rgba(0, 0, 0, 0.15);
  background-color: #21222c;
}

.border-primary {
  border-color: #2a9cff;
}

.ae-transition-300 {
  transition: 300ms;
}


.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.highlighted {
  color: #aeaeae;
}

.ae-value {
  color: #fff;
}

.ae-text {
  color: #2a9cff;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

textarea:focus, input:focus {
  outline: none;
}

.justify-evenly {
  justify-content: space-evenly;
}
